.shipYard {
  height: 100px;
  display: flex;
  z-index: 1;

  position: absolute;
  top: 0;

  &__title {
    position: absolute;
    bottom: -350px;
    left: -100px;
  }

  &__list {
    max-width: 400px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;
  }
};