// @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Rubik+Broken+Fax&display=swap');

//fonts
$font-squares: 'Bebas Neue';

// colors
$color-main--white: #F3F3F3;
$color-font--grey: #616161;