// @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Rubik+Broken+Fax&display=swap');

//fonts
$font-squares: 'Bebas Neue';
$font-popins: 'Poppins';

// colors
$color-main--white: #F3F3F3;
$color-font--grey: #616161;
$color-opponent-title--red: #F97A7A;
$color-you-title--blue: #646EFF;

$color-square-opponent: #FFEBE9;
$color-square_opponent-busy: #FFD4CF;
$color-square-you: #DEF3FF;
$color-square_you-busy: #C4EAFF;
$color-red: #FF6F6F;