@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.logo {
  display: flex;
  align-items: center;
  gap: 10px;

  &__img {
    width: 30px;
    height: 30px;

    @include tablet() {
      width: 35px;
      height: 35px;  
    }

    @include desktop() {
      width: 40px;
      height: 40px;  
    }
  }

  &__border {
    height: 30px;
    width: 2px;
    background-color: #ccc;

    @include tablet() {
      height: 35px;  
    }

    @include desktop() {
      height: 40px;  
    }
  }

  &__title {
    font-family: $font-squares;
    color: $color-font--grey;
    font-size: 18px;
    letter-spacing: 1px;

    @include tablet() {
      font-size: 22px;
    }

    @include desktop() {
      font-size: 24px;
    }
  }
}