@import '../../../../styles/variables.scss';
@import '../../../../styles/mixins.scss';

.fieldTitle {
  padding: 5px;
  font-size: 12px;
  text-align: center;
  letter-spacing: 5px;
  color: #fff;
  border-radius: 10px;
  margin: 0;

  &-opponent {
    background-color: $color-opponent-title--red;
  }

  &-you {
    background-color: $color-you-title--blue;
  }

  @include desktop() {
    padding: 10px;
    font-size: 14px;
  }
};