@import '../../styles/variables.scss';

.square {
  appearance: none;
  margin: 0;
  background-color: #fff;
  transition: 1s;
  background-position: center;

  &-you {
    background-color: $color-square-you;

    &_busy {
      background-color: $color-square_you-busy;
    }

    &_checked {
      background-image: url('../../images/bullet-red.png');
      background-size: 25px;
      background-repeat: no-repeat;
    }
  }

  &-opponent {
    background-color: $color-square-opponent;

    &_busy {
      background-color: $color-square_opponent-busy;
    }

    &_checked {
      &:checked {
        background-image: url('../../images/bullet-blue.png');
        background-size: 25px;
        background-repeat: no-repeat;
      }
    }
  }
}
