@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.square {
  appearance: none;
  margin: 0;
  background-color: #fff;
  transition: 1s;
  background-position: center;

  &-you {
    background-color: $color-square-you;

    &_busy {
      background-color: $color-square_you-busy;
    }

    &_checked {
      background-image: url('../../images/bullet-red.png');
      background-repeat: no-repeat;
      background-size: 15px;

      @include tablet() {
        background-size: 20px;
      }

      @include desktop() {
        background-size: 25px;
      }
    }
  }

  &-boombed {
    background-image: url('../../images/boom.png');
    background-repeat: no-repeat;
    background-size: 15px;

    @include tablet() {
      background-size: 20px;
    }

    @include desktop() {
      background-size: 25px;
    }
  }

  &-opponent {
    background-color: $color-square-opponent;

    &_checked {
      background-image: url('../../images/bullet-blue.png');
      background-repeat: no-repeat;
      background-size: 15px;

      @include tablet() {
        background-size: 20px;
      }

      @include desktop() {
        background-size: 25px;
      }
    }
  }
};
