.field {
  display: flex;
  flex-direction: column;
  gap: 20px;
//   position: relative;


  &__container {
    display: flex;
    flex-direction: row;
  }

  &__shell {
    display: flex;
    flex-direction: column;
  }

  &__coords {
    position: relative;
    top: 25px;
    bottom: 0;
  }

  &__list {
  position: relative;
    padding: 0;
    display: grid;
    gap: 2px; 
    width: 380px;
    height: 380px;
  }
}