@import '../../../styles/mixins.scss';

.field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
//   position: relative;
// height: 100vh;

// @include desktop() {
//   height: 100%;
// }

// width: 250px;
// height: 250px;

  &__container {
// width: 250px;

    display: flex;
    flex-direction: row;
  }


  &__shell {
    width: 250px;

    @include tablet() {
      width: 340px;
    }

    @include desktop() {
      width: 380px;
    }

    display: flex;
    flex-direction: column;
  }

  &__coords {
    position: relative;
    top: 18px;
    bottom: 0;

    @include tablet() {
      top: 23px;
    }

    @include desktop() {
      top: 28px;
    }
  }

  &__list {
    position: relative;
    padding: 0;
    display: grid;
    gap: 2px; 
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
  
    width: 250px;
    height: 250px;

    @include tablet() {
      width: 340px;
      height: 340px;
    }

    @include desktop() {
      width: 380px;
      height: 380px;  
    }
  }

  &__battle {
    // height: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
    opacity: 0;
    transition: .5s;

    &--smooth {
      opacity: 1;
      height: 50px;
    }
  }
}