@import '../../../styles/variables.scss';

.ship {
  position: absolute;
  width: min-content;
  background-color: #ddd;
  border: 2px solid #ccc;
  border-radius: 10px;

  &__list {
    display: flex;
    list-style: none;
  }

  &-smooth {
    transition: .3s;
  }

  &-destroyed {
    background-color: #FF8585;
    border-color: $color-red;
  }

  &__tower {
    background-color: transparent;

    display: flex;
    align-items: center;
    justify-content: center;

    &_indicator {
      width: 35%;
      height: 35%;
      background: #eee;
      border-radius: 50%;

      &-destroyed {
        background-color: #FFA9A9;
      }
    }
  }
};