@import './styles/mixins.scss';

.app {
  &__container {
    position: relative;
    height: calc(100vh - 72px - (30px + 20px));

    @include tablet() {
      height: calc(100vh - 81px - (30px + 20px));
    }
  
    @include desktop() {
      height: calc(100vh - 87px - (30px + 20px));
    }

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__navigation {
    padding-bottom: 20px;
  }
}