@import './styles/mixins.scss';

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  &__container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}