@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import '/src/styles/variables.scss';

* {
  color: $color-font--grey;
}

ul {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: $font-squares;
  height: 100vh;
}
